<a onclick="return modalOpen('/new/file')" class="btn btn-outline-purple form-control">File</a><hr>
<a onclick="return modalOpen('/new/folder')" class="btn btn-outline-purple form-control">Folder</a><hr>
<a onclick="return modalOpen('/new/project')" class="btn btn-outline-purple form-control">Project</a><hr>
<a onclick="return modalClose()" class="btn btn-secondary form-control">Cancel</a>