body {
	background-image: url("/img/background.jpg");
	background-position: center center;
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  height: 100%;
  margin: 0;
}

html{
  height: 100%;
  margin: 0;
}

aside{
  border-radius: 1rem;
  color: white;
  background: rgba(179,220,237,1);
  background: -moz-linear-gradient(81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
  background: -webkit-linear-gradient(81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
  background: -o-linear-gradient(81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
  background: -ms-linear-gradient81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
  background: linear-gradient81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
}
.full-size{
  height: 95%;
}
/*
aside{
  color: white;
  background: rgb(94,94,98);
  background: linear-gradient(81deg, rgba(94,94,98,1) 0%, rgba(121,0,157,0.9136029411764706) 33%, rgba(197,0,176,0.7483368347338936) 64%, rgba(255,0,236,0.6082808123249299) 100%);
} */

.custom-toggler.navbar-toggler {
    border-color: rgb(204,0,255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(204,0,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-outline-purple {
  color: #9915BF;
  border-color: #9915BF;
}

.btn-outline-purple:hover {
  color: #ffffff;
  background-color: #9915BF;
  border-color: #9915BF;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
  box-shadow: 0 0 0 0.1rem rgb(204,0,255);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
  color: #9915BF;
  background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #9915BF;
  border-color: #9915BF;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem rgb(204,0,255);
}

/*Adaptar a pantalla de celular*/
@media screen and (max-width: 575px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
}